@model IEnumerable<DOTNET_Core_Project.Models.Veterinerler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VeterinerAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Maas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VeterinerTelefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hastaneler)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VeterinerAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Maas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VeterinerTelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hastaneler.HastaneAdres)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.VeterinerNo" class="btn btn-success">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.VeterinerNo" class="btn btn-delete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
