@model IEnumerable<DOTNET_Core_Project.Models.Musteriler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MusteriAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusteriTelefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusteriAdres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriTelefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MusteriAdres)
            </td>
            <td>
                @Html.DisplayFor(modelItem=>item.pets.PetAdi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MusteriNo" class="btn btn-success">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MusteriNo" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
